body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
        url(../images/casas.png) no-repeat center center/cover;
}

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    height: 280px;
    max-height: 100%;
    object-fit: contain;
}



.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #444;
    overflow: hidden;
}


.nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
    transition: color 0.3s;
}

.nav a:hover,
.nav .active {
    color: #d11919;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 40px;
}

.sobre-box {
    background: rgba(0, 0, 0, 0.85);
    padding: 40px;
    max-width: 800px;
    border-left: 5px solid #d11919;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    text-align: left;
    width: 100%;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.btn {
    padding: 12px 24px;
    background: transparent;
    border: 2px solid #d11919;
    color: #d11919;
    font-weight: bold;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #af5050;
    color: #fce4e4;
}

.btn.active {
    background: hsla(0, 100%, 50%, 0.274);
    color: #FFF;
}

.conteudo {
    animation: fadeIn 0.5s ease-in-out;
}

.conteudo h1 {
    color: #d11919;
    font-size: 2em;
    margin-bottom: 15px;
}

.conteudo p,
.conteudo ul {
    font-size: 1.1em;
    line-height: 1.6em;
}

.conteudo ul {
    padding-left: 20px;
}

.footer {
    background: #111;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #aaa;
    border-top: 1px solid #333;
}

.footer a {
    color: #ffd700;
    text-decoration: none;
}

@media ((max-width: 980px)) {
  .header{
    padding-left: 0;
  }

  .sobre{
    height: 100%;
  }

  .logo img {
    height: 200px;
    max-height: 100%;
    object-fit: contain;
}
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}